<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Установка температуры</title>
</head>
<body>
<form th:action="@{save-winding}" method="post" th:object="${winding}">
   <div><label> Температура : <input th:value="${tempObmotkiPriIzmerenii.getTemperature()}" type="text" name="temperature"/> </label></div>
    <input hidden="hidden" type="text" name = "protokolName" th:value="${tempObmotkiPriIzmerenii.getProtokolName()}" th:placeholder="ProtokolName">
    <div><input type="submit" value="Добавить"/></div>
</form>
</body>
</html>